.calculator {

  @media (max-width: 768px) {
    width: 85%;
    margin: 0 auto;
    .title {
      margin-bottom: 10px;
      font-size: 6vw;
    }

    .calculator_container {
      width: 100%;

      .calculator1 {
        margin-bottom: 20px;
        .container_select {
          margin-bottom: 10px;
        }

        .container_input {
        }

      }

      .container_icon {
        display: none;

        .icon {
          color: #168B48;
        }
      }

      .calculator2 {

        .container_select {
          margin-bottom: 10px;
        }

        .container_input {
        }

      }
    }
  }

  @media (min-width: 768px) {
    width: 100%;
    padding: 30px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 10px;
    .title {
      margin-bottom: 10px;
      font-size: 30px;
    }

    .calculator_container {
      display: flex;
      justify-content: space-between;

      .calculator1 {
        width: 100%;
        //margin-right: 30px;

        .container_select {
          margin-bottom: 10px;
        }

        .container_input {
          width: 100%;
          margin-bottom: 10px;
        }

      }

      .container_icon {
        margin: auto 30px;
        display: block;

        .icon {
          display: block;
          color: #168B48;
        }
      }

      .calculator2 {
        width: 100%;

        .container_select {
          margin-bottom: 10px;
        }

        .container_input {
          width: 100%;
          margin-bottom: 10px;
        }

      }
    }
  }

}