.main {
  width: 100%;
  padding: 30px 0;

  .container_calculator {
    display: flex;
    justify-content: center;
  }

  .container {
    width: 70%;
    margin: 0 auto;

    .container_diagram {
      margin-bottom: 20px;
    }

  }

}