.header {
  width: 100%;
  padding: 15px 5%;
  background: lightblue;
  position: relative;

  @media (min-width: 1920px) {
    width: 1920px;
    margin: 0 auto;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;

  .container_logo {
    .logo {
      color: white;

      h1 {
        @media (min-width: 768px) {
          font-size: 1vw;
        }

        @media (min-width: 1920px) {
          font-size: 30px !important;
        }
      }
    }
  }

  .container_list {

    @media (max-width: 768px) {
      .burger {
        color: white;
        .icon {
          width: 30px;
          height: 30px;
        }
      }

      .sideBar {
        position: absolute;
        top: 65%;
        right: 60px;
        background: rgb(173, 216, 230);
        width: fit-content;
        height: fit-content;
        transition: .3s;
        border: 1px solid white;
        border-radius: 5px;
        z-index: 100;

        li {
          padding: 10px 20px;
          .link {
            width: 100%;
            color: white;
            height: 100%;
            text-transform: capitalize;
            font-weight: 500;
          }
        }
      }
    }
    
    @media (min-width: 768px) {
      .list {
        display: flex;
        align-items: center;

        li {
          margin: 0 10px;

          .link {
            font-size: 12px;
            white-space: break-spaces;
            color: white;
            cursor: pointer;
            text-transform: lowercase;
            font-weight: 400;
            @media (min-width: 1920px) {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

//.sideBar_header {
//  display: flex;
//  align-items: center;
//  justify-content: space-between;
//  padding: 15px 5%;
//  color: white;
//
//  .container_cross {
//    display: flex;
//    align-items: center;
//  }
//}
//
//.sideBar_body {
//  width: 100%;
//  height: 100%;
//  display: flex;
//  justify-content: center;
//  .container_link {
//    margin: 60px;
//    display: flex;
//    flex-direction: column;
//    .link {
//      padding: 10px 20px;
//      border: 1px solid white;
//      color: white;
//      border-radius: 5px;
//      margin: 10px 0;
//      text-transform: capitalize;
//    }
//  }
//}